* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

/************* Login styles *********************/

.login {
  display: flex;
  flex-direction: row;
  /* position: absolute; */
}

.logo {
  position: absolute;
  right: 34.5%;
  background-color: white;
  top: -8rem;
  border-radius: 55%;
  padding: 7.5rem 10rem 2rem;
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
}

.bienvenue {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 700;
  /* font-family: ; */
}

.form-div {
  width: 100%;
}

.right-div {
  padding: 20% 10% 13%;
  background-color: #ff8730;
}

.left-div {
  padding: 20% 10% 1%;
  background-color: #ddeeff;
}

.logo-img {
  background-image: url("../images/logo.png");
  background-size: cover;
  height: 160px;
  width: 160px;
  margin: auto;
}

.orange-phone {
  background-image: url("../images/orangePhone.jpg");
  background-size: cover;
  height: 500px;
  width: 500px;
}

/********************************************/

/****************************** Main style ****************************/
/****************************** Main Header ***************************/

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: 900;
}

.header-logo {
  background-image: url("../images/logo.png");
  background-size: cover;
  width: 120px;
  height: 120px;
}

.header-title {
  font-size: 3.5rem;
  font-weight: 900;
}

/*************************************************************/
/******************* Main Container *****************************/
.main-container {
  display: flex;
  background-color: #ddeeff;
}

/************************* Main navbar **************************/

.navbar {
  background-color: #ff8730;
  padding: 70px 0 30px;
  border-top-right-radius: 200px;
  overflow: hidden;
  width: 16%;
}

.navbar > ul {
  padding: 0;
}

.nav-item {
  list-style: none;
  color: white;
  width: 350px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 25px 20px;
  cursor: pointer;
}

.navbar ul .nav-item.active {
  background-color: #030082;
}

.navbar ul .nav-item.active > svg {
  color: white;
}

.navbar ul .nav-item:hover {
  background-color: #cdccff;
}

.nav-item > svg {
  margin-right: 5px;
  color: rgb(63, 63, 63);
}

/*****************************************************************/
/***************************** Espace Inscription, Classe, Prof ********************/

.space {
  text-align: center;
  width: 85%;
  padding: 20px;
}

.space-form {
  padding: 100px 80px;
  /* width: 80%; */
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}

.space-labels > ul {
  list-style: none;
}

.space-lable-li {
  margin: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.space-title {
  font-size: 3rem;
}

.space-inputs {
  width: 40%;
  text-align: center;
}

.space-inputs > * {
  margin: 18px;
}

.space-inputs .btn {
  width: 50%;
  margin: 50px auto;
}

/********************* Space Navbar******************************/

.space-navbar {
  display: flex;
  margin: auto;
  width: 50%;
}

.space-navbar-item {
  background-color: aliceblue;
  padding: 15px 70px;
  font-weight: 900;
  cursor: pointer;
}

.space-navbar-item:hover,
.space-navbar-item.active {
  background-color: #cdccff;
}

/******************** Search space ******************************/

.search-space {
  padding: 10px;
  margin-top: 20px;
}

.search-space-input {
  width: 30%;
  font-weight: 900;
  margin: auto;
  margin-bottom: 30px;
}
